services:
  api:
    build: .
    container_name: api-filmes-dev
    working_dir: /usr/src/app
    env_file:
      - .env.dev
    ports:
      - "3000:3000"
    command: ["npm", "run", "dev"]
    volumes:
      - .:/usr/src/app
    restart: unless-stopped